#related-slider {
    position:relative;
    text-align: center;
}

#related-slider .slider {
    width: auto;
    max-width: 100%;
    display: inline-flex;
    margin: 0 auto;
    overflow: hidden;
}

#related-slider .slides {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
#related-slider .slides::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
#related-slider .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}
#related-slider  .slides::-webkit-scrollbar-track {
    background: transparent;
}

#related-slider .slides > li {
    width: 150px;
    overflow: hidden;
    height: 100%;
    margin:0 30px 0 0;
    box-sizing: border-box;
    list-style: none;
    padding:2px;
    scroll-snap-align: start;
    flex-shrink: 0;
    transform-origin: center center;
    transform: scale(0.95);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 20px;
}

#related-slider .slides > li:hover, #related-slider .slides > li:active {
    transform: scale(1);
}
#related-slider .slider > a {
    display: inline-flex;
    width: 1.8rem;
    height: 1.8rem;
    background: white;
    color: #000;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 0 0.5rem 0;
    position: relative;
    word-wrap: break-word;
}
#related-slider .slider > a:active {
    top: 1px;
}
#related-slider .slider > a:focus, #related-slider .slider > a:hover {
    background: #000;
    color: white;
}

#related-slider .slider > a {
    display: none;
}

#related-slider .slides > li img {
    width: 100%;
}

#related-slider .slides .missing-image {
    display: none;
}

#related-slider h4.SliderTitle {
    margin: 0 0 1em 30px;
}

@media (max-width: 700px) {
    #related-slider .slider {
        width: 300px;
        height: auto;
    }
    #related-slider .slides > li {
        width: 300px;
    }
}