#related-slider {
    position:relative;
}

#related-slider .slider {
    overflow: hidden;
    position: relative;
    height: 180px;
    width: calc(100% - 60px);
    margin: 0 auto;
}

#related-slider ul {
    /* this cannot be too large */
    width:20000em;
    position:absolute;
    clear:both;
    list-style: none;
    padding: 0;
    margin: 0;
}


#related-slider li.slider-item {
    box-sizing: border-box;
    list-style: none;
    float:left;
    margin:0 30px 0 0;
    padding:2px;
    width:150px;
    height:180px;
    text-align: center;
    vertical-align: middle;
}


#related-slider li.slider-item img {
    width: 100%;
}

#related-slider .control-wrapper {
    height: 180px;
    width: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#related-slider .control {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
    text-decoration: None;
}

#related-slider .prev {
    left: 0;
}

#related-slider .next {
    right: 0;
}

#related-slider .prev.disabled, #related-slider .next.disabled {
    visibility: hidden;
}

#related-slider .missing-image {
    display: none;
}

#related-slider h4.SliderTitle {
    margin: 0 0 1em 30px;
}